
<div style="position: relative; height:100%;">
    <button type="button" class="button btnTrans btnBorder btnVoltar" id="voltarProjeto">
        <i class="fas fa-arrow-left"></i>&nbsp; Voltar
    </button>
    <div class="columns is-multiline is-desktop is-mobile paddingLR">
        <div class="column is-8 is-offset-2 has-text-centered">
            <h3 class="title is-3">Formulário Geral</h3>
        </div>
    </div>
    <form id="formularioGeral">
        <div class="wrapper" id="part1">
            <div class="columns is-multiline is-desktop is-mobile m10px">
                <div class="column is-8 is-offset-2 has-text-centered">
                    <h5 class="title is-5">I. Estratégia e Grau de Maturidade para IOT</h5>
                </div>
            </div>
            <div class="wrapper-body paddingLR" id="estrategia">
                <div class="columns is-multiline is-desktop is-mobile">
                    <div class="column is-9 pt0">
                        <div><h6 class="title is-6">1. Empresa tem estratégia definida para IOT? Qual?</h6></div>
                        <div class="font-12">Visão - Objetivo - Principios Orientadores - Alianças Estratégicas - Projetos - Ecossistema de Parceiros - Estrutura de gerenciamento de oportunidades</div>
                    </div>
                    <div class="column is-3 pt0 has-text-centered switch-font">
                        Não &nbsp;
                        <label class="switch">
                            <input type="checkbox" id="resposta1">
                            <span class="slider"></span>
                        </label>
                        &nbsp; Sim
                    </div>
                    <div class="column is-12 pt0">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" name="respostatexto1" id="respostatexto1" placeholder="Descreva..." autocomplete="new-password" required />
                        </div>
                    </div>
                    <div class="column is-9 pt0">
                        <div><h6 class="title is-6">2. Empresa definiu lista de oportunidades priorizadas?</h6></div>
                    </div>
                    <div class="column is-3 pt0 has-text-centered switch-font">
                        Não &nbsp;
                        <label class="switch">
                            <input type="checkbox" id="resposta2">
                            <span class="slider"></span>
                        </label>
                        &nbsp; Sim
                    </div>
                    <div class="column is-12 pt0">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" name="respostatexto2" id="respostatexto2" placeholder="Descreva..." autocomplete="new-password" required />
                        </div>
                    </div>
                    <div class="column is-9 pt0">
                        <div><h6 class="title is-6">3. Empresa já implantou/está implantando projeto IoT?</h6></div>
                        <div class="font-12">
                            Oportunidade - Arquitetura da solução - Tecnologias de conectividade - Parceiros e fornecedores - Infraestrutura - Plataformas utilizadas - Integração - KPIs - ROI - Resultados - Performance - Governança
                        </div>
                    </div>
                    <div class="column is-3 pt0 has-text-centered switch-font">
                        Não &nbsp;
                        <label class="switch">
                            <input type="checkbox" id="resposta3">
                            <span class="slider"></span>
                        </label>
                        &nbsp; Sim
                    </div>
                    <div class="column is-12 pt0">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" name="respostatexto3" id="respostatexto3" placeholder="Descreva..." autocomplete="new-password" required />
                        </div>
                    </div>
                    <div class="column is-9 pt0">
                        <div><h6 class="title is-6">4. Possui conhecimento sobre as tecnologias para IoT?</h6></div>
                        <div class="font-12">
                            Tecnologia e origem do conhecimento
                        </div>
                    </div>
                    <div class="column is-3 pt0 has-text-centered switch-font">
                        Não &nbsp;
                        <label class="switch">
                            <input type="checkbox" id="resposta4">
                            <span class="slider"></span>
                        </label>
                        &nbsp; Sim
                    </div>
                    <div class="column is-12 pt0">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" name="respostatexto4" id="respostatexto4" placeholder="Descreva..." autocomplete="new-password" required />
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="button btnTrans btnBorder is-pulled-right proximo part2btn">
                Próximo &nbsp;<i class="fas fa-arrow-right"></i> 
            </button>
        </div>
        <div class="wrapper" id="part2" style="display:none;">
            <div class="columns is-multiline is-desktop is-mobile m10px">
                <div class="column is-8 is-offset-2 has-text-centered">
                    <h5 class="title is-5">II. Conhecimento sobre LoRaWAN</h5>
                </div>
            </div>
            <div class="wrapper-body paddingLR" id="estrategia">
                <div class="columns is-multiline is-desktop is-mobile">
                    <div class="column is-9 pt0">
                        <div><h6 class="title is-6">1. Conhece a tecnologia LoRaWAN?</h6></div>
                        <div class="font-12">Se sim, descreva qual a origem do conhecimento (cursos, parceiros etc)</div>
                    </div>
                    <div class="column is-3 pt0 has-text-centered switch-font">
                        Não &nbsp;
                        <label class="switch">
                            <input type="checkbox" id="resposta5">
                            <span class="slider"></span>
                        </label>
                        &nbsp; Sim
                    </div>
                    <div class="column is-12 pt0">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" name="respostatexto5" id="respostatexto5" placeholder="Descreva..." autocomplete="new-password" required />
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="button btnTrans btnBorder anterior part1btn">
                <i class="fas fa-arrow-left"></i>&nbsp; Anterior
            </button>
            <button type="button" class="button btnTrans btnBorder is-pulled-right proximo part3btn">
                Próximo &nbsp;<i class="fas fa-arrow-right"></i> 
            </button>
        </div>
        <div class="wrapper" id="part3" style="display:none;">
            <div class="columns is-multiline is-desktop is-mobile m10px">
                <div class="column is-8 is-offset-2 has-text-centered">
                    <h5 class="title is-5">III. Motivação para aproximação com IoT OpenLabs</h5>
                </div>
            </div>
            <div class="wrapper-body paddingLR" id="estrategia">
                <div class="columns is-multiline is-desktop is-mobile">
                    <div class="column is-9 pt0">
                        <div><h6 class="title is-6">1. Não definiu caso de uso. Necessita suporte para identificar e priorizar oportunidades</h6></div>
                    </div>
                    <div class="column is-3 pt0 has-text-centered switch-font">
                        Não &nbsp;
                        <label class="switch">
                            <input type="checkbox" id="resposta6">
                            <span class="slider"></span>
                        </label>
                        &nbsp; Sim
                    </div>
                    <div class="column is-12 pt0">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" name="respostatexto6" id="respostatexto6" placeholder="Descreva..." autocomplete="new-password" required />
                        </div>
                    </div>
                    <div class="column is-9 pt0">
                        <div><h6 class="title is-6">2. Possui caso de uso definido/priorizado. Precisa avaliar a viabilidade técnica e econômica</h6></div>
                    </div>
                    <div class="column is-3 pt0 has-text-centered switch-font">
                        Não &nbsp;
                        <label class="switch">
                            <input type="checkbox" id="resposta7">
                            <span class="slider"></span>
                        </label>
                        &nbsp; Sim
                    </div>
                    <div class="column is-12 pt0">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" name="respostatexto7" id="respostatexto7" placeholder="Descreva..." autocomplete="new-password" required />
                        </div>
                    </div>
                    <div class="column is-9 pt0">
                        <div><h6 class="title is-6">3. Já realizou algum teste prévio para este caso de uso?</h6></div>
                        <div class="font-12">Tecnologias testadas - Resultados - Fatores críticos para rejeitar solução</div>
                    </div>
                    <div class="column is-3 pt0 has-text-centered switch-font">
                        Não &nbsp;
                        <label class="switch">
                            <input type="checkbox" id="respostatexto8">
                            <span class="slider"></span>
                        </label>
                        &nbsp; Sim
                    </div>
                    <div class="column is-12 pt0">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" name="respostatexto8" id="respostatexto8" placeholder="Descreva..." autocomplete="new-password" required />
                        </div>
                    </div>
                    <div class="column is-9 pt0">
                        <div><h6 class="title is-6">4. Já definiu solução usando LoRaWAN e desenho técnico. Necessita definir fornecedores e apoio para implantação</h6></div>
                        <div class="font-12">Dispositivos, plataformas, conectividade, integrador, etc)</div>
                    </div>
                    <div class="column is-3 pt0 has-text-centered switch-font">
                        Não &nbsp;
                        <label class="switch">
                            <input type="checkbox" id="resposta9">
                            <span class="slider"></span>
                        </label>
                        &nbsp; Sim
                    </div>
                    <div class="column is-12 pt0">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" name="respostatexto9" id="respostatexto9" placeholder="Descreva..." autocomplete="new-password" required />
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="button btnTrans btnBorder anterior part2btn">
                <i class="fas fa-arrow-left"></i>&nbsp; Anterior
            </button>
            <button type="button" class="button btnTrans btnBorder is-pulled-right proximo part4btn">
                Próximo &nbsp;<i class="fas fa-arrow-right"></i> 
            </button>
        </div>
        <div class="wrapper" id="part4" style="display:none;">
            <div class="columns is-multiline is-desktop is-mobile m10px">
                <div class="column is-8 is-offset-2 has-text-centered">
                    <h5 class="title is-5">IV. Descrição do Caso de Uso</h5>
                </div>
            </div>
            <div class="wrapper-body paddingLR" id="estrategia">
                <div class="columns is-multiline is-desktop is-mobile">
                    <div class="column is-9 pt0">
                        <div><h6 class="title is-6">4. Já definiu solução usando LoRaWAN e desenho técnico. Necessita definir fornecedores e apoio para implantação</h6></div>
                        <div class="font-12">Local(is) onde o processo acontece; descrição do workflow: etapas, inputs, outputs, ativos e estrutura de recursos utilizados, vida útil e valor dos ativos, papéis, variáveis e dimensões controladas, pontos de controle, KPIs, custos e receitas associados, condições ambientais, regras, custos da não conformidade, riscos, regulamentação, segurança</div>
                    </div>
                    <div class="column is-3 pt0 has-text-centered switch-font">
                        Não &nbsp;
                        <label class="switch">
                            <input type="checkbox" id="respostatexto10">
                            <span class="slider"></span>
                        </label>
                        &nbsp; Sim
                    </div>
                    <div class="column is-12 pt0">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" name="respostatexto10" id="respostatexto10" placeholder="Descreva..." autocomplete="new-password" required />
                        </div>
                    </div>
                   
                </div>
            </div>
            <button type="button" class="button btnTrans btnBorder anterior part3btn">
                <i class="fas fa-arrow-left"></i>&nbsp; Anterior
            </button>
            <button type="button" class="button btnTrans btnBorder is-pulled-right salvar">
                <i class="fas fa-check"></i>&nbsp; Salvar
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    "use strict";
    $(document).ready(function () {
        $("#voltarProjeto").off().click(function () {
            getContent("/Dashboard/Projeto");
        });
        $(".part1btn").off().click(function () {
            $(".wrapper").hide();
            $("#part1").show();
        });
        $(".part2btn").off().click(function () {
            $(".wrapper").hide();
            $("#part2").show();
        });
        $(".part3btn").off().click(function () {
            $(".wrapper").hide();
            $("#part3").show();
        });
        $(".part4btn").off().click(function () {
            $(".wrapper").hide();
            $("#part4").show();
        });
        $(".salvar").off().click(function () {
            enviarFormularioGeral();
        });
    });

    function enviarFormularioGeral() {
        var QuestionarioRespostas = {};
        for (var a = 1; a < 11; a++) {
            QuestionarioRespostas['Resposta' + a] = $("#resposta" + a).prop("checked") ? 1 : 0;
            QuestionarioRespostas['RespostaTexto' + a] = $("#respostatexto" + a).text();
        }
        sendContent("/questionario", QuestionarioRespostas,"Sucesso", "Formulário Geral Gravado Com Sucesso!")
    }

</script>