<div style="position: relative; height:100%;">
    <button type="button" class="button btnTrans btnBorder btnVoltar voltarAdmin">
        <i class="fas fa-arrow-left"></i>&nbsp; Voltar
    </button>
    <div class="columns is-multiline is-desktop is-mobile paddingLR">
        <div class="column is-8 is-offset-2 has-text-centered">
            <h3 class="title is-3">Visualizar Clientes</h3>
        </div>
    </div>
    <div class="wrapper">
        <form id="buscarCliente">
            <div class="columns is-multiline is-desktop is-mobile paddingLR m10px">
                <div class="column is-8 is-offset-2 has-text-centered">
                    <h4 class="title is-4">Buscar Cliente</h4>
                </div>
                <div class="column is-10">
                    <div class="user-input-wrp">
                        <br />
                        <input type="text" class="inputText" name="nomeCliente" id="nomeCliente" autocomplete="new-password" required />
                        <span class="floating-label">Nome do Cliente </span>
                    </div>
                </div>
                <div class="column is-2">
                    <button type="button" class="button btnTrans btnBorder" id="buscarClienteBtn">
                        <i class="fas fa-search"></i>&nbsp; Buscar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="wrapper">
        <div class="columns is-desktop is-mobile paddingLR m10px">
            <div class="column is-8 is-offset-2 has-text-centered">
                <h4 class="title is-4">Clientes</h4>
            </div>
        </div>
        <div class="columns is-multiline is-desktop is-mobile paddingLR m10px" id="listaClientes">
        </div>
    </div>
</div>
<script type="text/javascript">
    "use strict";

    $(".voltarAdmin").off().click(function () {
        voltarAdmin();
    });

    $(document).ready(function () {
        $("#buscarClienteBtn").click(function(){
            var pesquisa = $("#nomeCliente").val();
            getAPIContent("/cliente",{RazaoSocial: pesquisa},listarClientes,true);
        });

    });
</script>
